/* Path: css\typography.css */
/* how to import font from '/assets/font*/

@import url("/assets/font/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');



body {
  font-family: "Cambon";
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
}

.button-text {
  font-size: 14px;
  font-weight: 700;
}

.image-caption {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
}

.main-title {
  font-size: 48px;
  font-weight: 700;
}

.subheader-text {
  font-size: 28px;
  font-weight: 600;
  font-family: 'Cambon';
}

.body-text {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.experience-category {
  font-family: 'Inter';
  font-weight: 400;
  color: #666;
  font-size: 0.85rem;
}

.experience-title {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 1.15rem;
}

.experience-subtitle {
  font-family: 'Inter';
  font-weight: 400;
  color: #666;
  font-size: 0.85rem;
}

.experience-description {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 0.85rem;
  width: 75%;
  line-height: 1.45;
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  height: calc(1.21rem * 6);
  -webkit-box-orient: vertical;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.features-bold {
  font-family: 'Inter';
  font-weight: 600;
}

.footer-text {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 600;
}

/*Extra Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1600px) {
  .body-text:nth-child(1) img:first-child {
    margin-left: 30px;
  }

  .body-text:nth-child(2) img:first-child {
    margin-left: 20px;
  }

  .body-text:nth-child(3) img:first-child {
    margin-left: 30px;
  }

  .body-text:nth-child(4) img:first-child {
    margin-left: 70px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1200px) {

}

/* Large devices (laptops/desktops, 1000px and below) */
@media only screen and (max-width: 1000px) {

}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  
}